<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>NY Recycling Bins Map View</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" />
  <style>
    svg path,
    svg g {
      stroke: #444;
      stroke-width: 1;
      transition: fill 0.3s ease;
      cursor: pointer;
    }

    .legend-box {
      width: 20px;
      height: 20px;
      display: inline-block;
      margin-right: 8px;
      vertical-align: middle;
    }

    svg g:hover {
      stroke: black;
      stroke-width: 2;
    }
  </style>
</head>
<body>

  <div class="container mt-4">
    <h2 class="text-center mb-3">NYC Recycling Bins by Borough</h2>

    <!-- INLINE SVG MAP -->
    <div id="mapContainer" class="text-center">
      {% include 'NY_Boroughs.svg' %}
    </div>
    <script>
      const pythonDict = {{ data | tojson }};

  let borough_elements = {
    "QE": document.getElementsByClassName("Queens"),
    "BX": document.getElementsByClassName("Bronx"),
    "BKN": document.getElementsByClassName("Brooklyn"),
    "MAN": document.getElementsByClassName("Manhattan"),
    "SI": document.getElementsByClassName("Staten_Island"),
  };

  let values = Object.values(pythonDict);
  let minValue = Math.min(...values)-30;
  let maxValue = Math.max(...values)+30;

  if (maxValue === minValue) {
    minValue = 0; 
    maxValue = 1; 
  }


  for (let boroughKey in borough_elements) {
    console.log(boroughKey);
    let elements = borough_elements[boroughKey];
    console.log(elements);

    let currentValue = pythonDict[boroughKey];

    let normalizedValue = 100-(((currentValue - minValue) / (maxValue - minValue)) * 100);

    normalizedValue = Math.max(0, Math.min(100, normalizedValue));

    console.log(`Original: ${currentValue}, Normalized: ${normalizedValue}`);

    for (let i = 0; i < elements.length; i++) {
      elements[i].style.fill = `hsl(271, 100%, ${normalizedValue}%)`;
    }
  }
    </script>

    <div class="mt-4">
      <h3>Key Takeaways</h3>
      <ul>
        <li><strong>The Bronx and Brooklyn</strong> have the highest number of recycling bins overall.</li>
        <li><strong>Queens and Staten Island</strong> have fewer bins relative to their population density.</li>
        <li><strong>Manhattan</strong> is the least diverse in bin type, but has the third highest number of recycling bins overall.</li>
      </ul>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"></script> 
  <footer class="mt-5">
    <p><a href="/about">← Back to Home Page</a></p>
    <p>
      Sources: 
      <a href="https://data.cityofnewyork.us/Environment/Public-Recycling-Bins/sxx4-xhzg/about_data" target="_blank" rel="noopener noreferrer">
        NYC Open Data – DSNY Public Recycling Bins
      </a>
    </p>
    <p>Project by Sanaii Wilks</p>
  </footer>
</body>
</html>







